<form [formGroup]="addForm">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <p>
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </p>

  <mat-form-field>
    <input matInput placeholder="City" formControlName="city">
  </mat-form-field>

</form>
<button mat-stroked-button color="primary" class="addUserDialog" (click)="onSubmit()">Add user</button>
<button mat-button mat-dialog-close>Close</button>

