<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" #emailElement>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" #passwordElement type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block"
              (click)="createUser(emailElement.value,passwordElement.value)">Register
      </button>
      <mat-card-actions>
       <button mat-button class="haveAccountClass" color="accent" routerLink="/login">Have an account? Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
